.pokemon-name {
    text-transform: uppercase;
}

.pokemon-image {
    height: 300px;
    width: auto;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 10px black;
    margin: 20px;
    /*pixelated images render better
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    */
}

.pokemon-image:hover {
    background-color: yellow;
}

.pokemon-details {
    margin: auto;
    width: 50%;
    height: auto;
    width: 350px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(156, 226, 115);
    box-shadow: 5px 10px black;
    margin-bottom: 20px;
}

.pokemon-details:hover {
    background-color: yellow;
}