.box {
    width: 200px;
    margin: 0 auto;
}
.input {
    width: 30px;
    height: 30px;
    padding: 20px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat center;
    background-size: 20px;
    border: 2px solid black;
    border-radius: 30px;
    font-family: -apple-system;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    box-shadow: 5px 10px black;

}

.box:hover input {
    width: 200px;
    border-radius: 15px;
    background-position: 95%;
}