body {
  margin: 0;
  font-family: Martin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffcd9e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.rock {
  background: #B8A038;
  border-top-color: #E0C068;
  border-bottom-color: #886830;
}
.ghost {
  background: #705898;
  border-top-color: #A890F0;
  border-bottom-color: #483850;
}
.electric {
  background: #F8D030;
  border-top-color: #F8F878;
  border-bottom-color: #B8A038;
}
.bug {
  background: #A8B820;
  border-top-color: #D8E030;
  border-bottom-color: #789010;
}
.poison {
  background: #A040A0;
  border-top-color: #D880B8;
  border-bottom-color: #483850;
}
.normal {
  background: #A8A878;
  border-top-color: #D8D8D0;
  border-bottom-color: #705848;
}
.fairy {
  background: #F0B6BC;
  border-top-color: #F5CAD1;
  border-bottom-color: #905F63;
}
.fire {
  background: #F08030;
  border-top-color: #F8D030;
  border-bottom-color: #C03028;
}
.grass {
  background: #78C850;
  border-top-color: #C0F860;
  border-bottom-color: #588040;

}
.water {
  background: #789aeb;
  border-top-color: #b0c6f5;
  border-bottom-color: #807870;
}
.dark {
  background: #705848;
  border-top-color: #A8A878;
  border-bottom-color: #484038;
}
.steel {
  background: #B8B8D0;
  border-top-color: #D8D8C0;
  border-bottom-color: #807870;
}
.ice {
  background: #98D8D8;
  border-top-color: #D0F8E8;
  border-bottom-color: #9090A0;
}
.psychic {
  background: #F85888;
  border-top-color: #F8C0B0;
  border-bottom-color: #789010;
}

.dragon {
  background: linear-gradient(#e66465, #9198e5);
  border-top-color: #9198e5;
  border-bottom-color: #483850;
}
.ground {
  background: #E0C068;
  border-top-color: #F8F878;
  border-bottom-color: #886830;
}

.flying {
  background: #A890F0;
  border-top-color: #C8C0F8;
  border-bottom-color: #705898;
}
.fighting {
  background: #C03028;
  border-top-color: #F08030;
  border-bottom-color: #484038;

}

.app-contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0.5rem;
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  border: 2px solid black;
  padding: 10px;
  box-shadow: 5px 10px black;
  margin: 5px 5px 10px 5px;
}

.thumb-container:hover {
  background: none;
  background-color: yellow;
}

h3 {
  margin-bottom: 0.2rem;
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255,255,255,0.3);
}

.thumb-container img {
  width: 120px;
  height: 120px;
}

.thumb-container small {
  text-transform: capitalize;
}

.pokemon-thumbnail {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}